		</div>
	</div>

<script src="{$ASSETS_PATH}js/tether.min.js"></script>
<script src="{$ASSETS_PATH}js/popper.min.js"></script>
<script src="{$ASSETS_PATH}js/bootstrap.js"></script>
<script src="{$ASSETS_PATH}js/bootstrap-typeahead.js"></script>
</body>
</html>