.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #fff;
  border: 3px dotted #c4e17f;  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-success, .btn-success:hover {
  background-color: #537A3A;
  border-color: #537A3A;
  color: #fff;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #ADCC71 12.5%, #ADCC71 25%, #96B763 25%, #96B763 37.5%, #80A355 37.5%, #80A355 50%, #698E48 50%, #698E48 62.5%, #537A3A 62.5%, #537A3A 75%, #3C652C 75%, #3C652C 87.5%, #26511F 87.5%, #26511F);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #ADCC71 12.5%, #ADCC71 25%, #96B763 25%, #96B763 37.5%, #80A355 37.5%, #80A355 50%, #698E48 50%, #698E48 62.5%, #537A3A 62.5%, #537A3A 75%, #3C652C 75%, #3C652C 87.5%, #26511F 87.5%, #26511F);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #ADCC71 12.5%, #ADCC71 25%, #96B763 25%, #96B763 37.5%, #80A355 37.5%, #80A355 50%, #698E48 50%, #698E48 62.5%, #537A3A 62.5%, #537A3A 75%, #3C652C 75%, #3C652C 87.5%, #26511F 87.5%, #26511F);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #ADCC71 12.5%, #ADCC71 25%, #96B763 25%, #96B763 37.5%, #80A355 37.5%, #80A355 50%, #698E48 50%, #698E48 62.5%, #537A3A 62.5%, #537A3A 75%, #3C652C 75%, #3C652C 87.5%, #26511F 87.5%, #26511F);
}