.customContainer {
	margin: 20px;
	margin-top: 40px;
    max-width: 98%;
}

.submenu {
	padding-left: 35px;
	font-size: 80%;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #0d7a00;
    border-color: #109900;
}

.list-group-item.active-submenu {
    z-index: 2;
    color: #fff;
    background-color: #073a00;
    border: none;

    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.btn-group-sm>.btn, .btn-tiny {
    padding: .10rem .5rem;
    font-size: .8rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.typeahead {
    max-height: 400px;
    height: auto;
    overflow-x: hidden;
}

.table {
    table-layout: fixed;
}