<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th style="width: 30%;">Nazwa projektowa</th>
      <th>Proponowane</th>
    </tr>
  </thead>
  <tbody>
  	{$content}
  </tbody>
</table>
